################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StoreLake/bin
/src/StoreLake/obj
/src/StoreLake/.vs/StoreLake
/.vs
/src/StoreLake.Sdk.Cli/bin
/src/StoreLake.Sdk.Cli/obj
/src/StoreLake.Test.ConsoleApp/bin
/src/StoreLake.Test.ConsoleApp/obj
/src/StoreLake.Sdk/bin/Debug
/src/StoreLake.Sdk/obj
/src/StoreLake.Versioning/obj
/src/StoreLake.Versioning/bin/Debug
/src/StoreLake.ClientApp/.vs/StoreLake.ClientApp
/src/StoreLake.ClientApp/bin/Debug/net48
