################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StoreLake/bin
/src/StoreLake/obj
/src/StoreLake/.vs/StoreLake
/.vs
/src/StoreLake.Sdk.Cli/bin/Debug/net48
/src/StoreLake.Sdk.Cli/obj
