################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/StoreLake/bin
/src/StoreLake/obj
/src/StoreLake/.vs/StoreLake
/.vs
