<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bzzzzzzar;"/>

      <!--'HelplineData.TestStore, Version=0.0.0.0, Culture=neutral, PublicKeyToken=2d40e5612f3a4c46-->
      <dependentAssembly>
        <assemblyIdentity name="HelplineData.TestStore" publicKeyToken="2d40e5612f3a4c46" culture="neutral"/>
        <!--<bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0"/>-->
        <codeBase version="1.0.0.0" href="D:\Helpline\Current\bin\Debug\output\database\HelplineData.TestStore.dll"/>
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="SLM.Database.Data.TestStore" publicKeyToken="2d40e5612f3a4c46" culture="neutral"/>
        <!--<bindingRedirect oldVersion="0.0.0.0" newVersion="1.0.0.0"/>-->
        <codeBase version="1.0.0.0" href="D:\Helpline\Current\bin\Debug\output\database\SLM.Database.Data.TestStore.dll"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="HelplineData" publicKeyToken="5b039a7bf8dc383e" culture="neutral"/>
        <!--<bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="0.0.0.0"/>-->
        <codeBase version="0.0.0.0" href="D:\Helpline\Current\bin\Debug\output\database\HelplineData.dll"/>
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>